.about {
    border: solid 1px yellow;
    background-color: rgb(185, 184, 184);
    padding: 30px;
}


.about h1 {
    color: yellow;
    margin-bottom: 30px;
}

.about p {
    margin-bottom: 30px;
}

.about a {
    color: white;
    text-decoration: none;
}